In [326]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [252]:
df = pd.read_csv('practo.csv')
df

,Name,Degree,Specialization,Experience,Location,City,Recommendation,Feedback,Fees
0,Dr. Sourabh Nagpal,"BDS, MDS - Prosthodontics, Fellowship and Dipl...",Dentist,17 years experience overall,"Vasant Vihar,",Delhi,99%,623 Patient Stories,₹500
1,Dr. Meeka Gulati,"BDS, MDS - Conservative Dentistry & Endodontics",Dentist,15 years experience overall,"Janakpuri,",Delhi,97%,108 Patient Stories,₹500
2,Dr. Aparna Singhal,"BDS, MDS - Prosthodontics",Dentist,14 years experience overall,"Punjabi Bagh,",Delhi,98%,96 Patient Stories,₹300
3,Dr. Prashant Ojha,"MDS - Periodontology and Oral Implantology, Ce...",Dentist,16 years experience overall,"Saket,",Delhi,92%,104 Patient Stories,₹300
4,Dr. Anukriti Bansal Aggarwal,BDS,Dentist,10 years experience overall,"Rohini Sector 18,",Delhi,100%,74 Patient Stories,₹400
...,...,...,...,...,...,...,...,...,...
5053,Dr. Sreesha N,"MBBS, MD - Obstetrics & Gynaecology",Dentist,18 years experience overall,"Yelahanka New Town,",Bangalore,100%,10 Patient Stories,₹300
5054,Dr. Roshan Varghese,"MBBS, DGO, DNB - Obstetrics & Gynecology, Dipl...",Dentist,14 years experience overall,"Horamavu,",Bangalore,100%,55 Patient Stories,₹300
5055,Dr. Vinayak Raghunathan,"MBBS, DGO",Dentist,14 years experience overall,"JP Nagar,",Bangalore,100%,145 Patient Stories,₹500
5056,Dr. Idris Md,"MBBS, MS - Obstetrics & Gynaecology, DGO, DNB ...",Dentist,13 years experience overall,"Jayanagar 5 Block,",Bangalore,99%,131 Patient Stories,₹300
5057,Dr. Prahlad Shenava,"MBBS, MD - Obstetrics & Gynaecology",Dentist,12 years experience overall,"Whitefield,",Bangalore,98%,58 Patient Stories,₹300

In [253]:
df.isna().sum()

Name                0
Degree             18
Specialization     27
Experience         18
Location           17
City               17
Recommendation    608
Feedback          789
Fees               17
dtype: int64

In [254]:
df['Experience'].value_counts()

14 years experience overall    294
12 years experience overall    293
13 years experience overall    269
11 years experience overall    238
16 years experience overall    236
                              ...
60 years experience overall      2
63 years experience overall      1
61 years experience overall      1
58 years experience overall      1
57 years experience overall      1
Name: Experience, Length: 61, dtype: int64

In [255]:
df['Recommendation']=df['Recommendation'].str[:2]

In [256]:
df['Experience']=df['Experience'].str[:2]

In [257]:
df[df.isnull().sum(axis=1)>2]

,Name,Degree,Specialization,Experience,Location,City,Recommendation,Feedback,Fees
40,Skinroots- Skin And Hair Transplant Clinic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,Thinkyou.In,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,Amaltas Ayurveda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,Smile Again,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,Dr. Gawai's Sports Medicine And Arthroscopy Cl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
277,Amaha Mental Health Centre,"MBBS, DNB - Psychiatry",NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,Digestive Health Institute by Dr. Muffi,"MBBS, MD - General Medicine, DM - Gastroentero...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
349,Digestive Health Institute by Dr. Muffi,"MBBS, DNB - General Surgery, FCPS - General Su...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
360,Dr. Gawai's Sports Medicine And Arthroscopy Cl...,"MBBS, MD - General Medicine, CCT - Rheumatology",NaN,NaN,NaN,NaN,NaN,NaN,NaN
373,Advanced Dental Care Centre,BDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
384,Aparnaa Women's Clinic,"MBBS, DGO",NaN,NaN,NaN,NaN,NaN,NaN,NaN
414,Dr. Vidyashankar,NaN,Orthopedist,32,"Jayanagar 9 Block,",Bangalore,NaN,NaN,₹650
415,Sapphire Skin and Aesthetics Clinic,"MBBS, DDVL",NaN,NaN,NaN,NaN,NaN,NaN,NaN
436,Aparnaa Women's Clinic,"MBBS, DGO",NaN,NaN,NaN,NaN,NaN,NaN,NaN
467,Amaha Mental Health Centre,"M.D. (Psychiatry), MBBS",NaN,NaN,NaN,NaN,NaN,NaN,NaN
488,Foods & Nutrition Clinic,MSc - Dietitics / Nutrition,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,GutCare,"MBBS, FRCS - General Surgery, MRCS (UK)",NaN,NaN,NaN,NaN,NaN,NaN,NaN
540,Dr. Digest Advanced Gastro And Cancer Care(Cen...,"MBBS, MS - General Surgery",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3149,Dr. Parul Sharma,"MBBS, DNB - Orthopedics/Orthopedic Surgery",NaN,8,"Vikas Puri,",Delhi,NaN,NaN,₹800
4199,Dr. Swati Gawai,"MBBS, DNB - Obstetrics & Gynecology",NaN,12,"Chembur,",Mumbai,NaN,NaN,₹900

In [258]:
df['Recommendation']=df['Recommendation'].fillna(0, axis=0)

In [259]:
df.head()

,Name,Degree,Specialization,Experience,Location,City,Recommendation,Feedback,Fees
0,Dr. Sourabh Nagpal,"BDS, MDS - Prosthodontics, Fellowship and Dipl...",Dentist,17,"Vasant Vihar,",Delhi,99,623 Patient Stories,₹500
1,Dr. Meeka Gulati,"BDS, MDS - Conservative Dentistry & Endodontics",Dentist,15,"Janakpuri,",Delhi,97,108 Patient Stories,₹500
2,Dr. Aparna Singhal,"BDS, MDS - Prosthodontics",Dentist,14,"Punjabi Bagh,",Delhi,98,96 Patient Stories,₹300
3,Dr. Prashant Ojha,"MDS - Periodontology and Oral Implantology, Ce...",Dentist,16,"Saket,",Delhi,92,104 Patient Stories,₹300
4,Dr. Anukriti Bansal Aggarwal,BDS,Dentist,10,"Rohini Sector 18,",Delhi,10,74 Patient Stories,₹400

In [260]:
df['Feedback']=df['Feedback'].str[0:3]

In [261]:
df['Feedback']=df['Feedback'].str.replace('\xa0','')

In [262]:
df['Feedback']=df['Feedback'].str.replace('P','')

In [263]:
df['Feedback'].unique()

array(['623', '108', '96', '104', '74', '111', '62', '63', '99', '90',
       '330', '23', '450', '668', '123', '4', '197', '125', '200', '228',
       '101', '9', '53', '35', '209', '113', '2', '16', '37', '129', '1',
       '213', '5', '25', '121', nan, '151', '227', '307', '137', '152',
       '14', '141', '181', '82', '201', '28', '26', '33', '76', '162',
       '55', '391', '146', '71', '446', '64', '13', '46', '3', '86',
       '286', '118', '10', '41', '186', '66', '51', '19', '235', '369',
       '134', '34', '24', '17', '54', '29', '6', '130', '224', '116',
       '139', '115', '277', '342', '157', '120', '32', '27', '50', '11',
       '12', '36', '158', '84', '163', '21', '20', '38', '39', '346',
       '187', '169', '392', '318', '294', '112', '40', '103', '126',
       '336', '479', '79', '117', '95', '59', '128', '43', '45', '182',
       '127', '8', '237', '311', '175', '61', '167', '194', '159', '260',
       '242', '247', '142', '205', '30', '72', '18', '673', '68', '178',
       '52', '160', '7', '58', '80', '81', '425', '119', '364', '131',
       '98', '302', '22', '431', '31', '925', '106', '578', '269', '351',
       '75', '65', '738', '87', '179', '47', '147', '156', '246', '567',
       '698', '263', '338', '42', '483', '292', '210', '598', '614',
       '149', '305', '455', '188', '371', '77', '287', '208', '243',
       '805', '316', '107', '48', '67', '203', '239', '304', '92', '69',
       '190', '15', '44', '384', '102', '109', '94', '916', '366', '143',
       '909', '198', '240', '135', '150', '155', '100', '133', '85',
       '274', '60', '83', '461', '176', '171', '172', '270', '655', '249',
       '56', '124', '49', '225', '170', '136', '154', '57', '528', '173',
       '381', '474', '331', '144', '388', '183', '427', '701', '468',
       '955', '241', '482', '764', '91', '496', '192', '220', '122', '97',
       '361', '814', '409', '324', '93', '89', '430', '695', '88', '581',
       '303', '262', '196', '609', '367', '255', '161', '372', '703',
       '747', '140', '385', '250', '245', '70', '234', '646', '216',
       '165', '296', '264', '233', '300', '202', '424', '403', '382',
       '110', '373', '191', '288', '400', '439', '219', '168', '73',
       '222', '206', '545', '447', '280', '819', '138', '349', '293',
       '599', '251', '166', '267', '218', '145', '184', '697', '432',
       '252', '317', '765', '290', '148', '465', '572', '174', '229',
       '377', '679', '114', '272', '456', '362', '355', '298', '232',
       '105', '517', '858', '380', '177', '407', '211', '238', '314',
       '485', '132', '291', '279', '199', '285', '840', '332', '412',
       '78', '368', '195', '940', '416', '214', '257', '261', '282',
       '153', '486', '312', '266', '619', '321', '460', '558', '541',
       '438', '230', '207', '327', '602', '308', '429', '309', '525',
       '689', '353', '231'], dtype=object)

In [264]:
df.head()

,Name,Degree,Specialization,Experience,Location,City,Recommendation,Feedback,Fees
0,Dr. Sourabh Nagpal,"BDS, MDS - Prosthodontics, Fellowship and Dipl...",Dentist,17,"Vasant Vihar,",Delhi,99,623,₹500
1,Dr. Meeka Gulati,"BDS, MDS - Conservative Dentistry & Endodontics",Dentist,15,"Janakpuri,",Delhi,97,108,₹500
2,Dr. Aparna Singhal,"BDS, MDS - Prosthodontics",Dentist,14,"Punjabi Bagh,",Delhi,98,96,₹300
3,Dr. Prashant Ojha,"MDS - Periodontology and Oral Implantology, Ce...",Dentist,16,"Saket,",Delhi,92,104,₹300
4,Dr. Anukriti Bansal Aggarwal,BDS,Dentist,10,"Rohini Sector 18,",Delhi,10,74,₹400

In [265]:
df['Fees']=df['Fees'].str[1:]

In [266]:
df1=df.copy()

In [267]:
df1['Degree']=df1['Degree'].str.split(' ',n=1,expand=True).loc[:,0]

In [268]:
df1['Degree']=df1['Degree'].str.replace(',','')

In [269]:
df1['Degree'].value_counts()

MBBS             3179
BDS               731
BPTh/BPT          236
MD                187
MS                152
MDS                96
DNB                90
Diploma            41
MPTh/MPT           31
DM                 28
MCh                28
DGO                28
M.D.               25
Post               24
BSc                19
MSc                17
Masters            12
M.Sc.              11
BSc.               11
Doctor              9
DDVL                8
MSc.                7
FCPS                5
B.Sc.               5
DPM                 5
DO                  4
Fellow              3
PGD                 3
FRCS                3
BHMS                3
BAMS                3
MRCOG(UK)           3
M.Sc-               3
PhD                 3
FRCP                2
BNYS                2
PG                  2
Certificate         2
Doctorate           2
DOMS                2
P.G                 2
FCPS-               1
CCT                 1
DDV                 1
Ph.D                1
MDS-                1
DHMS                1
MRCS                1
Member              1
DNHE                1
Certification       1
FNB                 1
B.Sc.-              1
Fellowship          1
Name: Degree, dtype: int64

In [270]:
df['Degree'].value_counts().head(20)

BDS                                                343
MBBS, MD - Obstetrics & Gynaecology                217
MBBS, MS - Obstetrics & Gynaecology                201
MBBS, MS - Orthopaedics                            187
MBBS, MD - Pediatrics                              172
BPTh/BPT                                           148
MBBS, MD - Dermatology , Venereology & Leprosy     135
MBBS, DGO                                          123
MBBS, MS - Ophthalmology                           110
MBBS, DNB - Obstetrics & Gynecology                 93
MBBS, MD - General Medicine, DM - Cardiology        74
MBBS, M.D. (Psychiatry)                             73
MBBS, DGO, DNB - Obstetrics & Gynecology            70
BDS, MDS - Conservative Dentistry & Endodontics     64
MBBS, MS - General Surgery, MCh - Neuro Surgery     54
MS - Obstetrics & Gynaecology, MBBS                 48
MBBS, Diploma in Child Health (DCH)                 45
BDS, MDS - Prosthodontist And Crown Bridge          43
MBBS, MS - General Surgery, MCh - Urology           41
MBBS, MS - General Surgery                          37
Name: Degree, dtype: int64

In [271]:
df1['Degree'].nunique()

54

In [272]:
df1['Specialization'].nunique()

19

In [273]:
df1['Degree']+' '+df1['Specialization']

0        BDS Dentist
1        BDS Dentist
2        BDS Dentist
3        MDS Dentist
4        BDS Dentist
            ...
5053    MBBS Dentist
5054    MBBS Dentist
5055    MBBS Dentist
5056    MBBS Dentist
5057    MBBS Dentist
Length: 5058, dtype: object

In [274]:
df1['Location'].nunique()

403

In [275]:
df1.isnull().sum()

Name                0
Degree             18
Specialization     27
Experience         18
Location           17
City               17
Recommendation      0
Feedback          789
Fees               17
dtype: int64

In [276]:
df1['Feedback']=df1['Feedback'].fillna(0, axis=0)

In [277]:
df1['Experience']=df1['Experience'].dropna()

In [278]:
df1.shape

(5058, 9)

In [279]:
df1.isnull().sum()

Name               0
Degree            18
Specialization    27
Experience        18
Location          17
City              17
Recommendation     0
Feedback           0
Fees              17
dtype: int64

In [280]:
df1['Specialization'].fillna(method = 'ffill', inplace = True)

In [281]:
df1.dropna(inplace=True)

In [282]:
df1.shape

(5027, 9)

In [283]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5027 entries, 0 to 5057
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            5027 non-null   object
 1   Degree          5027 non-null   object
 2   Specialization  5027 non-null   object
 3   Experience      5027 non-null   object
 4   Location        5027 non-null   object
 5   City            5027 non-null   object
 6   Recommendation  5027 non-null   object
 7   Feedback        5027 non-null   object
 8   Fees            5027 non-null   object
dtypes: object(9)
memory usage: 392.7+ KB

In [284]:
df1.head()

,Name,Degree,Specialization,Experience,Location,City,Recommendation,Feedback,Fees
0,Dr. Sourabh Nagpal,BDS,Dentist,17,"Vasant Vihar,",Delhi,99,623,500
1,Dr. Meeka Gulati,BDS,Dentist,15,"Janakpuri,",Delhi,97,108,500
2,Dr. Aparna Singhal,BDS,Dentist,14,"Punjabi Bagh,",Delhi,98,96,300
3,Dr. Prashant Ojha,MDS,Dentist,16,"Saket,",Delhi,92,104,300
4,Dr. Anukriti Bansal Aggarwal,BDS,Dentist,10,"Rohini Sector 18,",Delhi,10,74,400

In [285]:
df1=df1.replace('ree Consultation',0)

In [286]:
df1[['Experience','Recommendation','Feedback','Fees']]=df1[['Experience','Recommendation','Feedback','Fees']].astype('int64')

In [287]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5027 entries, 0 to 5057
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            5027 non-null   object
 1   Degree          5027 non-null   object
 2   Specialization  5027 non-null   object
 3   Experience      5027 non-null   int64
 4   Location        5027 non-null   object
 5   City            5027 non-null   object
 6   Recommendation  5027 non-null   int64
 7   Feedback        5027 non-null   int64
 8   Fees            5027 non-null   int64
dtypes: int64(4), object(5)
memory usage: 392.7+ KB

In [288]:
df1.head()

,Name,Degree,Specialization,Experience,Location,City,Recommendation,Feedback,Fees
0,Dr. Sourabh Nagpal,BDS,Dentist,17,"Vasant Vihar,",Delhi,99,623,500
1,Dr. Meeka Gulati,BDS,Dentist,15,"Janakpuri,",Delhi,97,108,500
2,Dr. Aparna Singhal,BDS,Dentist,14,"Punjabi Bagh,",Delhi,98,96,300
3,Dr. Prashant Ojha,MDS,Dentist,16,"Saket,",Delhi,92,104,300
4,Dr. Anukriti Bansal Aggarwal,BDS,Dentist,10,"Rohini Sector 18,",Delhi,10,74,400

In [289]:
df1['Degree'].value_counts()

MBBS             3170
BDS               730
BPTh/BPT          236
MD                187
MS                152
MDS                96
DNB                90
Diploma            40
MPTh/MPT           31
DM                 28
MCh                28
DGO                28
M.D.               24
Post               24
BSc                19
MSc                16
Masters            12
M.Sc.              11
BSc.               11
Doctor              9
DDVL                8
MSc.                7
FCPS                5
B.Sc.               5
DPM                 5
DO                  4
Fellow              3
PGD                 3
FRCS                3
BHMS                3
BAMS                3
MRCOG(UK)           3
M.Sc-               3
PhD                 3
FRCP                2
BNYS                2
PG                  2
Certificate         2
Doctorate           2
DOMS                2
P.G                 2
FCPS-               1
CCT                 1
DDV                 1
Ph.D                1
MDS-                1
DHMS                1
MRCS                1
Member              1
DNHE                1
Certification       1
FNB                 1
B.Sc.-              1
Fellowship          1
Name: Degree, dtype: int64

In [290]:
df1['Degree']=df1['Degree'].replace('M.D.','M.D')

In [291]:
df1['Degree']=df1['Degree'].replace({'M.Sc.':'M.Sc','BSc.':'BSc','M.Sc-':'M.Sc','FCPS-':'FCPS','B.Sc.-':'B.Sc','B.Sc.':'B.Sc','MSc.':'MSc','MDS-':'MDS'})

In [292]:
sns.pairplot(df1, hue='Fees', diag_kind='hist')

In [310]:
df1.corr()

                Experience  Recommendation  Feedback      Fees
Experience        1.000000        0.258331  0.037258  0.338198
Recommendation    0.258331        1.000000  0.367577  0.043636
Feedback          0.037258        0.367577  1.000000 -0.056578
Fees              0.338198        0.043636 -0.056578  1.000000

In [312]:
df2 = df1.copy()

In [315]:
df2.head()

,Degree,Specialization,Experience,Location,City,Recommendation,Feedback,Fees
0,BDS,Dentist,17,"Vasant Vihar,",Delhi,99,623,500
1,BDS,Dentist,15,"Janakpuri,",Delhi,97,108,500
2,BDS,Dentist,14,"Punjabi Bagh,",Delhi,98,96,300
3,MDS,Dentist,16,"Saket,",Delhi,92,104,300
4,BDS,Dentist,10,"Rohini Sector 18,",Delhi,10,74,400

In [317]:
col_num = ['Experience','Experience','Experience','Experience']

In [320]:
cat=[i for i in df2.columns if df2[i].nunique()<12]
cont=[i for i in df2.columns if df2[i].nunique()>12]

In [323]:
plt.figure(figsize=(15,8))
sns.countplot(x='City',data=df2)
df2['City'].value_counts()

Bangalore    2041
Delhi        1674
Mumbai       1312
Name: City, dtype: int64

In [327]:
plt.figure(figsize=(8,6))
sns.histplot(df2['Fees'],kde=True,color='k')

In [337]:
df1['Location']=df1['Location'].str.replace(',','')

In [338]:
df1['Location']

0             Vasant Vihar
1                Janakpuri
2             Punjabi Bagh
3                    Saket
4         Rohini Sector 18
               ...
5053    Yelahanka New Town
5054              Horamavu
5055              JP Nagar
5056     Jayanagar 5 Block
5057            Whitefield
Name: Location, Length: 5027, dtype: object

In [340]:
df1.to_csv('practo_cleandata.csv')

In [344]:
df2.to_csv('practo_cleandata1.csv')